Django==2.2
django-geojson==2.10.0
django-leaflet==0.24.0
iso3166==1.0.1
isort==4.3.21
jsonfield==2.0.2
matplotlib==3.1.2
numpy==1.17.4
pandas==0.25.3
psycopg2==2.8.4
python-dateutil==2.8.1
reverse-geocoder==1.5.1
scipy==1.4.1
sqlparse==0.4.4
django-cors-headers==3.3.0
gunicorn==20.0.4
dj-database-url==0.5.0
django-heroku==0.3.1
whitenoise==5.1.0
